*{
  margin: 0;
  padding: 0;
  font-family: 'Padauk', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header-section{
  height: 4rem;
  background-color: #fff;
  
}
.header-wrapper{
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: orange;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, .5);

}
.logo{
  font-size: 34px;
  
}

ul{
  display: flex;
  gap: 2rem;
}
.header-links{
  list-style: none;
  font-size: 24px;
  color: orange;
  text-decoration: none;
}

button{
  padding: .5rem  1.5rem;
  margin-left: .5rem;
  cursor: pointer;
  border: 1px solid orange ;
  outline: none;
}
button:hover{
  padding: .5rem  1.5rem;
  background-color: orange;
  margin-left: .5rem;
  cursor: pointer;
  border: 1px solid #fff ;
  color: #fff;
  outline: none;
}

.main-container-wrapper{
  

}

/* .create-account-btn{
  background-color: #283104;
  color: white;
  border-radius: 4px;
} */




