*{
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header-section{
  height: 4rem;
  background-color: #A5C72B;
  
}
.header-wrapper{
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #1F1C1C;

}
.logo{
  font-size: 34px;
  
}

ul{
  display: flex;
  gap: 2rem;
}
.header-links{
  list-style: none;
  font-size: 24px;
}

button{
  padding: .5rem  1.5rem;
  margin-left: .5rem;
  cursor: pointer;
  border: 1px solid #A5C72B ;
  outline: none;
}
button:hover{
  padding: .5rem  1.5rem;
  background-color: #839e20;
  margin-left: .5rem;
  cursor: pointer;
  border: 1px solid #fff ;
  color: #fff;
  outline: none;
}




