* {
  margin: 0;
  padding: 0;
  font-family: "Padauk", sans-serif;
}
body {
  background-color: orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* main container wrapper */
.main-container-wrapper {
  width: 95%;
  /* background-color: blue; */
  margin: 0 auto;
}
/* main container wrapper */
.main-header-section {
  height: 4rem;
  background-color: #fff;
}
.header-wrapper {
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: orange;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
}
.logo {
  font-size: 34px;
  color: black;
  list-style: none;

  text-decoration: none;
}
.header-icon {
  font-size: 24px;
  color: #000;
}

ul {
  display: flex;
  gap: 2rem;
}
.header-links {
  list-style: none;
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.header-call-to-action-btn {
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  border: 1px solid orange;
  outline: none;
}
.header-call-to-action-btn:hover {
  padding: 0.5rem 1.5rem;
  background-color: orange;
  margin-left: 0.5rem;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
}

/* .create-account-btn{
  background-color: #283104;
  color: white;
  border-radius: 4px;
} */

/* hompage section */
.category-filter-section {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  margin-bottom: 1rem;
}
.category-filter-section .links {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  align-self: center;
}

.headerWrapper-first {
  width: 100%;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 6px;
  height: 300px;
  box-shadow: 1px 1px 1px grey;
}
.headerWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 23% 50% 23%;
  gap: 2%;
}
.header-image-container {
  margin-top: 1rem;
  width: 100%;
  height: 300px;
  border-radius: 6px;
  /* background-color : red; */
}
.header-image-container img {
  width: 100%;
  height: inherit;
  border-radius: 6px;
  /* object-fit: contain; */
}

.category-section-left {
  width: 80%;
  margin: 0 auto;
}

/* hompage section */

/* latest Product Section */
.latest-product-title {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  margin: 5rem 0;
}

/* latest Product Section */

/* card section */
.card-section-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.5%;


  flex-wrap: wrap;
}
.each-card-wrapper {
  width: 300px;
  height: 450px;
  margin-bottom: 20px;
  border-radius: 8px;

  background-color: #fff;
  box-shadow: 5px 0px 10px grey;
}
.image-wrapper {
  width: 100%;
  height: 220px;
}

.image-wrapper-img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 8px;
  
}
.price-amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-amount-container,
.product-description {
  width: 90%;
  margin: 0 auto;

  margin-top: 2rem;
}
.product-description {
  text-align: center;
}
.price-amount-container {
  margin-bottom: 1.2rem;
}

/* add to cart btn & details button*/
.call-to-action {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.add-to-cartBtn
{
  height: 40px;
  width: 120px;

  border: 1px solid orange;
  cursor: pointer;
  outline: none;
}
.view-details-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
 
  border: 1px solid orange;
  height: 40px;
  width: 120px;
 
}
.view-details-Btn:hover {
  background-color: orange;
  color: #fff;

}
.details-btn-link{


  text-decoration: none;
  justify-self: center;
  color: #000;
}
.details-btn-link:hover{
  color: inherit;
}

.add-to-cartBtn:hover
{
  padding: 0.5rem 1.5rem;
  background-color: orange;
  /* margin-left: .5rem; */
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
}

/* add to cart btn & details button */

/* card section */


/* footer section */

.footer-section-wrapper{
 
  background-color: #282828;

}
.newsletter-section-wrapper{
  display: flex;
  align-items: center;

}
.newsletter-section-wrapper button{

}
.footer-items-wrapper{
  width: 90%;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 2rem 0 ;

}
.footer-title{
  color: #fff;
}
.news-section{
  color:#fff
}
.input-text{
  height: 1.5rem;
  width: 20rem;
  padding: 4px;
  font-size: 18px;
  border-radius: 6px;
  outline: none;
  border: none;
}
.newsletter-section-wrapper{
  display: flex;
  gap: 1rem;

}
.newsletter-section-wrapper button{
  width: 4rem;
  height: 35px;
  border: 1px solid #fff;
  background-color: #282828;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  font-size: 20px;
  
}
.icon-wrapper{
  text-align: center;
}
.social-section-wrapper h2{
  color: #fff;
}
.react-icons{
  color: #fff;
  margin-left: .875rem;
}


/* footer section */





/* single product */
.single-product-wrapper{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 75% 25%;
  margin-bottom: 9rem
  


}
.single-img-wrapper{
  width: 300px;
  height: 220px;

}
.single-img-wrapper img{
  width: 100%;
  height: inherit;
}
.each-item-wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr;
 
  column-gap: 6px;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;

}

.singlepage-cart-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
   background-color: orange;
   color: #fff;
   padding: .5rem 0;
   font-size: 20px;
outline: none;
border: none;
border-radius: 6px;
cursor: pointer;
box-shadow: 5px 5px 6px grey;
}
.cart-icon{
  font-size: 30px;
  margin-left: 1.2rem;
}
.price-wrapper{
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0;
}
.product-price  {
  font-size: 25px;
  font-weight: 700;
 
}
.product-price-icon{
  font-size: 25px;
  font-weight: 700;
 

}
.price-wrapper-dicount{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
 

}
.product-price-icon-discount{

  
 

}
.product-price-discount{
  text-decoration: line-through;
  color: grey;
}
.shipping-info{
  margin-bottom: 1.2rem;
  color: red;
}
/* single product */



/* login form */
.login-form-wrapper{
 
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}


/* login form */